{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block breadcrumbs %}
<li class="breadcrumb-item ">
    <a class="black-text active-2" href="{% url 'account_type_index' %}">
        <span class="icon-accessibility">Accounts</span>
    </a>
</li>
<li class="breadcrumb-item ">
    <a class="black-text active-2" href="#">
        <span class="icon-accessibility">{{ main_account }}</span>
    </a>
</li>
{% endblock %}




{% block content %}
<div id="accounts">
    <button hx-get="{% url 'add_sub_account' pk=main_account.pk %}" hx-target="#dialog" class="btn btn-primary">
       {% trans "Add a Sub Account" %}
    </button>
     <a class="btn btn-primary"   href="{% url 'account_type_index'  %}">

       {% trans "All Accounts" %}
    </a>
    <div class="main-panel">
        <div class="content-wrapper">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-container">
                        <div class="table-responsive">
                            <table class="table custom-table m-0">
                              <caption>{{ main_account  }}</caption>
                                <thead>
                                    <tr>
                                        <th>{% trans "Code" %}</th>
                                        <th>{% trans "Name" %}</th>
                                        <th>{% trans "Arabic Name" %}</th>
                                        <th>{% trans "Coin" %}</th>
                                        <th>{% trans "debit" %}</th>
                                        <th>{% trans "credit" %}</th>
                                        <th>{% trans "balance" %}</th>
                                        <th>{% trans "Update" %}</th>



                                    </tr>
                                </thead>
                                <tbody hx-trigger="load, sub_accountListChanged from:body" hx-get="{% url 'sub_account_list' pk=main_account.pk %}" hx-target="this" hx-indicator="#spinner">
                                    {% include 'sub_account/sub_account_list.html' %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}