{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<div data-formset-form>

    <td  class="col-sm-3" >

                        {% render_field form.account class="form-control "  %}
                          <div class="invalid-feedback">{{ form.account.errors|first }}</div>
                        </td>
                        <td  class="col-sm-2"   >
                              {% render_field form.amount class="form-control "  %}
                            <div class="invalid-feedback">{{ form.amount.errors|first }}</div>
                        </td>
                        <td  class="col-sm-1" >
                            {% render_field form.coin class="form-control "   %}
                            <div class="invalid-feedback">{{ form.coin.errors|first }}</div>
                        </td>
                        <td  class="col-sm-1" >
                            {% render_field form.direction class="form-control "   %}
                            <div class="invalid-feedback">{{ form.direction.errors|first }}</div>
                        </td>

                        <td  class="col-sm-5" >
                            {% render_field form.narration class="form-control " style="width:96%;" %}
                            <div class="invalid-feedback">{{ form.narration.errors|first }}</div>
                        </td>
                        <td>
                        {% if form.DELETE %}
                            {{ form.DELETE }}
                            <button type="button" data-formset-delete-button>Delete form</button>
                        {% endif %}
                        </td>
</div>
{% endwith %}