{% load i18n %}
{% for account in accounts %}
<div class="  col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 off">
    <div class="card lobipanel-minimize">
        <div class="card-header">
            <div class="card-title">{{ account.name }}</div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm">
               <caption>{{ account.name  }}</caption>
                <thead>
                    <tr>
                        <th>{% trans "code" %}</th>
                        <th>{% trans "name" %}</th>
                        <th>{% trans "Arabic_name" %}</th>
                        <th>{% trans "nature" %}</th>
                        <th>{% trans "final" %}</th>
                        <th>{% trans "debit" %}</th>
                        <th>{% trans "credit" %}</th>
                        <th>{% trans "balance" %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ account.code }}</td>
                        <!-- <td >{{ forloop.counter }}</td> -->
                        <td>{{ account.name }}</td>
                        <td>{{ account.ar_name }}</td>
                        <td>{{ account.get_nature_display }}</td>
                        <td>{{ account.get_final_display }}</td>
                        <td>{% for key,value in account.debit.items %}
                            {% if not value == 0 %}
                                {{ key}} : {{ value }}<br/>
                            {% endif %}
                            {% endfor %}</td>
                        <td>{% for key,value in account.credit.items %}
                            {% if not value == 0 %}
                                {{ key}} : {{ value }}<br/>
                            {% endif %}
                            {% endfor %}</td>
                        <td>{% for key,value in account.balance.items %}
                            {% if not value == 0 %}
                                {{ key}} : {{ value }}<br/>
                            {% endif %}
                            {% endfor %}</td>


                        <td>
                            <button class="btn btn-primary btn-sm"
                            hx-get="{% url 'edit_account_type' pk=account.pk %}"
                            hx-target="#dialog">{% trans "Edit" %}</button>
                            <button class="btn btn-primary btn-sm"

                            hx-get="{% url 'main_account_list' pk=account.pk %}"
                             hx-push-url="{% url 'main_account_list' pk=account.pk %}"
                            hx-target="#accounts">{% trans "Details" %}</button>
                            <button class="btn btn-primary btn-sm"

                            hx-get="{% url 'add_main_account' pk=account.pk %}"
                            hx-target="#dialog">{% trans "ADD" %}</button>
                        </td>
                    </tr>
                    <tr>
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>{% trans "code" %}</th>
                                    <th>{% trans "name" %}</th>
                                    <th>{% trans "Arabic_name" %}</th>
                                    <th>{% trans "parent" %}</th>
                                    <th>{% trans "debit" %}</th>
                                    <th>{% trans "credit" %}</th>
                                    <th>{% trans "balance" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for main_account in account.Main_children.all %}
                                <tr {% if not main_account.parent %} class="table-active"
                                {% else %} class="table-success"{% endif %}>
                                    <td>{{ main_account.code }} </td>
                                    <td>{{ main_account.name }} </td>
                                    <td>{{ main_account.ar_name }} </td>
                                   <td> {% if main_account.parent %}
                                               {{ main_account.parent }} {{ main_account.parent.ar_name }}
                                         {% else %}
                                             {{ account }} {{ account.ar_name }}
                                         {% endif %}
                                        </td>
                                    <td>{% for key,value in main_account.debit.items %}
                                        {% if not value == 0 %}
                                            {{ key}} : {{ value }}<br/>
                                        {% endif %}
                                        {% endfor %}</td>
                                    <td>{% for key,value in main_account.credit.items %}
                                        {% if not value == 0 %}
                                            {{ key}} : {{ value }}<br/>
                                        {% endif %}
                                        {% endfor %}</td>
                                    <td>{% for key,value in main_account.balance.items %}
                                        {% if not value == 0 %}
                                            {{ key}} : {{ value }}<br/>
                                        {% endif %}
                                        {% endfor %}</td>
                                    <td><button class="btn btn-primary btn-sm" hx-get="{% url 'edit_main_account' pk=main_account.pk %}" hx-target="#dialog">Edit</button></td>
                                    {% if main_account.is_leaf_node %}
                                    <td>


                                    {% if main_account.sub_account_set.count == 0 %}
                                     <button hx-get="{% url 'add_sub_account' pk=main_account.pk %}" hx-target="#dialog" class="btn btn-primary">
                                       {% trans "Add a Sub Account" %}
                                    </button>
                                     </a>
                                   {% else %}
                                    <a class="btn btn-sm btn-info"
                                     href= "{% url 'main_account_details' pk=main_account.pk %}"  > Details ({{main_account.sub_account_set.count}})
                                     </a>
                                    {% endif %}


                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tr>
                                <td colspan="5">xxxx</td>
                            </tr>
                        </table>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}